<meta name="color-scheme" content="dark">
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mshaugh/nerdfont-webfonts@v3.3.0/build/cascadiacode.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mshaugh/nerdfont-webfonts@v3.3.0/build/cascadiamono.css">
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "344acca51469401aa001cb61766c8bf6"}'></script>
{% include schema.html %}
