{{ define "main" }}
<div class="container">
  <article>
    <h1 class="post-title-heading">{{ .Title }}</h1>
    {{ with .Params.subtitle }}<p class="post-subtitle">{{ . }}</p>{{ end }}
    <p class="post-meta">
      {{ .Date.Format "January 2, 2006" }}
      {{ with .Params.tags }}
      &middot; <span class="blog-tags">{{ range . }}<a href="/tags/{{ . | urlize }}/">{{ . }}</a> {{ end }}</span>
      {{ end }}
    </p>
    <div class="blog-post">
      {{ .Content }}
    </div>
  </article>
</div>
{{ end }}
