<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
{{ with .Params.canonical_url }}<link rel="canonical" href="{{ . }}">{{ end }}
<link rel="icon" type="image/svg+xml" href="/assets/img/favicon.svg">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/cat_icon_158943.png">
<meta name="color-scheme" content="dark">
<meta name="theme-color" content="#282a36">
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/syntax.css">
{{- partial "schema.html" . }}
<script defer src="/assets/js/back-to-top.js"></script>
{{ if and .IsPage (eq .Type "articles") }}<script defer src="/assets/js/post-enhancements.js"></script>{{ end }}
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "{{ .Site.Params.cfAnalyticsToken }}"}'></script>
